.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
  padding-top: 197px;
}

ul {
  list-style-type: none;
  font-family: 'PT Sans', sans-serif;
}

a {
  text-decoration: none;
}

li:hover {
  transform: scale(1.6);
}

header {
  background-color: #3e4042;
  padding-top: 1em;
  padding-bottom: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 150;
  box-shadow: 0 2px 3px rgb(0,0,0, .4);
}

.name {
  color: #d7efee;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

.main-nav {
  text-align: center;
}

.main-nav a {
  color: #d7efee;
}

.header-image {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
}

h2 {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

h3 {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

.profile-picture {
  width: 70%;
  border-radius: 50%;
  margin: 2em;
  border: 5px solid #3e4042;
}

.profile-picture:hover {
  transform: scale(1.1);
  transition: all .5s;
}

.about {
  padding: 10px;
}

.background {
  width: 90%;
  background-color: lightgray;
  margin: 1em;
  border: 5px solid #3e4042;

}

.top-div {
  width: 100%;
  margin-left: 0;
}

.picture {
  width: 80%;
  margin: 1em;
  box-shadow: 3px 3px 3px black;
}

.description {
  text-align: center;
}

.skills {
  text-align: center;
}

.email {
  text-align: center;
}

.email a {
  color: black;
}

.main-footer {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  background-color: #3e4042;
  color: #d7efee;
}


a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}

.social {
  color: #d7efee;
}

.footer-nav a {
  color: #d7efee;
}

@media (min-width: 760px) {

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .portfolio {
    width: 70%;
    margin: 0 auto;
  }

  .name,
  .main-nav {
    display: inline;
  }

  .main-nav {
    float: right;
  }

  .header-image {
    margin-bottom: 2em;
  }

  .profile-picture {
    width: 40%;
    margin-left: 6em;
  }

  .back {
    width: 10
  }

  .background {
    margin-bottom: 2em;
  }

  .about {
    font-size: 20px;
    box-shadow: 3px 3px 3px border: 5px solid #3e4042;
  }

  .col {
    width: 40%;
    display: inline-block;
  }

  .col-1,
  .col-2 {
    vertical-align: top;
  }

  .picture {
    margin-left: 4em;
  }

  .description {
    margin-bottom: 2em;
  }

  li {
    display: inline;
    transform: scale(1.6);
  }

  body {
    padding-top: 82px;
  }

  h2,
  h3 {
    margin-bottom: 2em;
  }

  .footer-nav {
    float: right;
    padding: 10px;
  }

}
